<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session Plans</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-tokyo-night-bg text-white">

<div th:include="navbar::navbar" class="shadow-2xl">
</div>

<div class="flex flex-col justify-between items-center container mx-auto mb-8 mt-24">
    <h1 class="text-3xl font-bold text-center text-tokyo-night-variable transition ease-in-out hover:scale-110 hover:text-white hover:-translate-y-1 duration-150">
        Welcome to your Fitness Plan!
    </h1>
    <div class="mb-8 mt-5">
        <form class="flex items-center mx-auto flex-row" th:action="@{/session-plan/pick-training-type}">
            <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                Add Session Plan
            </button>
        </form>
    </div>
    <div class="flex items-center mx-auto">
        <div class="grid grid-cols-3 gap-3 content-start mx-auto mr-0">
            <div th:each="sessionPlan : ${sessionPlans}" class="max-w-80 min-w-80 max-h-70 min-h-70 border rounded-2xl shadow bg-card-bg border-gray-700 mt-4 mb-4 mx-4 h-70 w-80 relative transition ease-in-out hover:-translate-y-2 hover:scale-105 duration-150">
                <!--image-->
                <!--<div class="max-h-40 max-w-80 flex justify-center items-center overflow-hidden rounded-t-2xl">-->
                    <!--<a th:href="@{/game/buyer/details/{id}(id=${game.id})}">-->
                        <!--<img class="rounded-t-2xl object-contain" th:src="@{/image/{name}(name=${game.imageName})}" alt="Game Image">-->
                    <!--</a>-->
                <!--</div>-->
                <div class="relative px-5 py-5 mb-1">
                    <a th:href="@{/session-training/{sessionPlanId}(sessionPlanId=${sessionPlan.id})}">
                        <p class="text-xl font-semibold tracking-tight text-white overflow-y-auto max-h-8 max-w-64">
                            <span th:text="${sessionPlan.trainingType}"></span>
                        </p>
                    </a>
                    <div class="flex items-center mt-1">
                        <p class="text-sm font-medium text-gray-400">
                            <span th:if="${service.getTrainingCount(sessionPlan.id) == 1}" th:text="${service.getTrainingCount(sessionPlan.id)} + ' training added'"></span>
                            <span th:if="${service.getTrainingCount(sessionPlan.id) != 1}" th:text="${service.getTrainingCount(sessionPlan.id)} + ' trainings added'"></span>
                        </p>
                    </div>
                    <div class="flex items-center mt-1">
                        <p class="text-xs font-semibold px-2 py-1 bg-blue-100 text-blue-900 rounded-lg mt-2">
                            <span th:if="${service.getTotalDurationInSeconds(sessionPlan.id) % 60 != 0}" th:text="${service.getTotalDurationInSeconds(sessionPlan.id) / 60} + 'm ' + ${service.getTotalDurationInSeconds(sessionPlan.id) % 60} + 's'"></span>
                            <span th:if="${service.getTotalDurationInSeconds(sessionPlan.id) % 60 == 0}" th:text="${service.getTotalDurationInSeconds(sessionPlan.id) % 60} + 's'"></span>
                        </p>
                    </div>
                    <form th:action="@{/session-plan/delete/{id}(id=${sessionPlan.id})}" class="absolute bottom-0 right-0 p-5" method="post">
                        <button type="submit" class="inline-flex items-center px-3 text-sm font-medium text-white rounded-lg bg-red-600 py-2 transition ease-in-out hover:scale-125 origin-bottom-right duration-150 hover:bg-red-600">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
